* {
    box-sizing: border-box;
    color: white;
    font-family: 'Roboto', 'Times New Roman', Times, serif
}
body {
    margin: 0;
}

.section-one {
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    padding: 0 100px;
}
.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hero h1 {
    font-size: 24px;
    margin-left: 40px;
}
.hero .links {
    padding: 0;
    margin: 0 10px 0 0;
    list-style-type: none;
    display: flex;
    gap: 0px;
}
.hero .links, .hero-subtext {
    font-size: 15px;
}
ul li a {
    text-decoration: none;
    display: inline-block;
    padding: 15px 20px;
}
a:hover {
    background-color: #3882F6;
}
.hero-content {
    padding: 60px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.left-side {
    display: flex;
    gap: 10px;
    flex-direction: column;
    max-width: 425px;
}
.right-side img {
    max-width: 400px;
    max-height: 300px;
}
.hero-main-header {
    font-size: 48px;
    font-weight: bolder;

}
.hero-subtext {
    font-size: 18px;
    color: #E5E7EB;
}
button {
    background-color: #3882F6;
    border: 1px solid gray;
    font-size: 15px;
    border-radius: 8px;
    width: 120px;
    height: 30px;
}
button:hover {
    background-color: white;
    color: #1f2937;
    cursor: pointer;
}

.section-two { /* this code is the same as .section-one */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 100px 50px 100px;
    gap: 30px;
}
.info-header  h1 {
    font-size: 30px;
    color: black;
}
.cards-container {
    display: flex;
    gap: 40px;
}
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 150px;
}
.card img {
    border: 3px solid #1f2937;
    border-radius: 15px;
    width: 150px;
    height: 150px;
}
.card p {
    text-align: center;
    color: #1f2937;
}
.section-three {
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
}
.quote-container {
    padding: 150px 300px;
    display: flex;
    flex-direction: column;
}
.inspo-quote , .quotedBy {
    color: #1F2937
}
.inspo-quote {
    font-style: italic;
    margin: 0;
}
.quotedBy {
    font-weight: bold;
    align-self: flex-end;
    margin: 0 50px 0 0;
}